---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import stregtop from "../assets/images/stregtop.svg";
import mig3 from "../assets/images/mig3.png";
import telefon from "../assets/images/telefon.svg";
import mail from "../assets/images/mail.svg";
import stregright from "../assets/images/stregright.svg";
import stregleft from "../assets/images/stregleft.svg";
import digitalskrald from "../assets/images/digitalskrald.png";
import info from "../assets/images/info.png";
import affald from "../assets/images/affald.png";
import sweet from "../assets/images/sweet.png";
import singleusesucks from "../assets/images/singleusesucks.png";
---

<MainLayout title="Personlig professionel profil">
  <!-- Hero sektion -->
  <section>
    <h1
      class="text-[80px] text-[#E7EB79] zen mt-10 ml-20 md:ml-40 md:text-[150px] fornavn"
    >
      Nick
    </h1>

    <h1
      class="text-[80px] text-[#E7EB79] zen ml-40 md:ml-96 md:text-[150px] mellemnavn"
    >
      Dion
    </h1>
    <h1
      class="text-[80px] text-[#E7EB79] zen ml-20 mb-10 md:ml-[620px] md:text-[150px] efternavn"
    >
      Jørgensen
    </h1>
    <Image src={stregtop} alt="img" />
    <h2
      class="text-[50px] text-[#E7EB79] ml-20 mt-10 text-center zen md:ml-[620px] md:text-[100px] designer"
    >
      Digital Designer
    </h2>
  </section>

  <!-- Citat sektion -->
  <section>
    <div class="citat">
      <p
        class="text-[18px] mt-52 raleway text-center italic md:text-[24px] md:mt-80"
      >
        "Jeg forvandler kreative idéer til visuelle festfyrværkerier"
      </p>

      <p
        class="text-[18px] raleway text-center mt-10 mb-48 md:mb-96 md:text-[24px]"
      >
        Det lyder ret fedt, ik? Tag et kig på hvad jeg kan tilbyde.
      </p>
    </div>
  </section>

  <!-- Om mig sektion -->
  <section class="grid grid-cols-1 md:grid-cols-2 md:gap-10">
    <div class="flex justify-center items-center">
      <Image src={mig3} alt="img" />
    </div>

    <div class="flex flex-col justify-center md:pl-10 ommig">
      <h2
        class="text-[36px] text-[#E7EB79] text-center zen md:text-left mt-10 md:mt-0 md:text-[50px]"
      >
        Halløj, mød designeren!
      </h2>
      <p
        class="text-[18px] raleway m-10 md:m-0 md:mr-14 md:mt-4 md:text-left md:text-[20px]"
      >
        Jeg hedder Nick og studerer multimediedesign på KEA. Jeg brænder for at
        udvikle og skabe kreativt indhold samt webløsninger. <br /><br />
        Jeg søger en praktikplads inden for webdesign og grafisk design, hvor jeg
        kan udvikle visuelle koncepter, der fanger og engagerer brugeren. Derudover
        er jeg interesseret i UI/UX for at udvikle brugervenlige oplevelser. <br
        /><br />
        Som multimediedesignstuderende har jeg arbejdet med forskellige designværktøjer,
        herunder Adobe Photoshop, Adobe Illustrator og Figma, hvilket har styrket
        mine evner til at skabe effektive visuelle webløsninger.
      </p>
    </div>
  </section>

  <!-- Højre streg -->
  <div class="hidden md:block absolute right-0">
    <Image src={stregright} alt="Right Line" class="h-[1150px]" />
  </div>

  <!-- Teknologier og værktøjer sektion -->
  <section class="værktøjer">
    <h2
      class="text-[36px] text-[#E7EB79] text-center zen mt-20 md:mt-40 md:text-[50px]"
    >
      Teknologier og værktøjer
    </h2>
    <div
      class="raleway grid grid-cols-2 gap-4 m-10 text-[18px] md:flex justify-center md:text-[20px] md:gap-60"
    >
      <div>
        <p class="mb-8">• HTML</p>
        <p class="mb-8">• CSS</p>
        <p class="mb-8">• Javascript</p>
        <p class="mb-8">• Tailwind</p>
        <p class="mb-8">• Astro</p>
      </div>
      <div>
        <p class="mb-8">• Adobe Illustrator</p>
        <p class="mb-8">• Adobe Photoshop</p>
        <p class="mb-8">• Figma</p>
        <p class="mb-8">• Visual Studio Code</p>
      </div>
    </div>
  </section>

  <!-- Venstre streg -->
  <div class="hidden md:block absolute">
    <Image src={stregleft} alt="Left Line" class="h-[1150px]" />
  </div>

  <!-- Uddannelse og erfaring sektion -->
  <section class="cv">
    <h2
      class="text-[36px] text-[#E7EB79] text-center zen m-10 mt-20 md:mt-40 md:text-[50px]"
    >
      Uddannelse og erfaring
    </h2>
    <div
      class="raleway grid grid-cols-2 gap-4 mx-10 text-[18px] md:mx-[550px] md:gap-8 md:text-[20px]"
    >
      <p class="mb-8">KEA - Københavns Erhvervsakademi</p>
      <p>Multimediedesigner <br /> 2023 - nu</p>

      <p class="mb-8">Vestskoven Gymnasium</p>
      <p>STX <br /> 2017 - 2020</p>

      <p class="mb-8">Pilehaveskolen</p>
      <p>2007 - 2017</p>

      <p>Ventilen</p>
      <p>Frivillig kommunikationsmedarbejder <br /> 2021 - 2022</p>
    </div>
  </section>

  <!-- Mine projekter -->
  <section class="cases">
    <h2
      class="text-[36px] text-[#E7EB79] text-center zen mt-20 md:mt-40 md:text-[50px]"
    >
      Cases
    </h2>
    <p class="text-[18px] raleway text-center mt-5 md:text-[20px]">
      Et lille udpluk af projekter jeg har lavet på studiet
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 m-5 md:m-20">
      <a
        href="https://digitalskraldgruppe6.netlify.app"
        target="_blank"
        rel="noopener noreferrer"
        class="relative group h-full flex flex-col"
      >
        <Image
          src={digitalskrald}
          alt="img"
          class="object-cover h-full w-full rounded-lg"
        />

        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-300 rounded-lg"
        >
        </div>

        <div
          class="absolute inset-0 flex items-center justify-center text-[#E7EB79] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <h3 class="text-[24px] font-semibold raleway">Digital skraldedag</h3>
        </div>
      </a>

      <a
        href="https://nickmedia.dk/website_spil/spil.html"
        target="_blank"
        rel="noopener noreferrer"
        class="relative group h-full flex flex-col"
      >
        <Image
          src={sweet}
          alt="img"
          class="object-cover h-full w-full rounded-lg"
        />

        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-300 rounded-lg"
        >
        </div>

        <div
          class="absolute inset-0 flex items-center justify-center text-[#E7EB79] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <h3 class="text-[24px] font-semibold raleway">Animation</h3>
        </div>
      </a>

      <a
        href="https://doessingleusesuck.netlify.app"
        target="_blank"
        rel="noopener noreferrer"
        class="relative group h-full flex flex-col"
      >
        <Image
          src={singleusesucks}
          alt="img"
          class="object-cover h-full w-full rounded-lg"
        />

        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-300 rounded-lg"
        >
        </div>

        <div
          class="absolute inset-0 flex items-center justify-center text-[#E7EB79] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <h3 class="text-[24px] font-semibold raleway">#Singleusesucks</h3>
        </div>
      </a>

      <div class="relative group flex flex-col">
        <Image src={info} alt="img" class="object-cover w-full rounded-lg" />

        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-300 rounded-lg"
        >
        </div>

        <div
          class="absolute inset-0 flex items-center justify-center text-[#E7EB79] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <h3 class="text-[24px] font-semibold raleway">Infografik</h3>
        </div>
      </div>
    </div>
  </section>

  <Image src={stregtop} alt="img" />

  <!-- Kontaktinfo sektion -->
  <section>
    <h3
      class="zen text-[#E7EB79] text-[36px] m-10 mt-20 md:mt-20 md:text-[50px] md:text-center skridt"
    >
      Lad os tale sammen om vores næste skridt!
    </h3>
    <div class="m-10 kontakt">
      <div class="flex items-center mb-5 md:ml-[575px] md:text-[10px]">
        <Image src={telefon} alt="Telefon" width={36} height={36} />
        <a
          href="tel:+4527200215"
          class="raleway text-[20px] md:text-[20px] ml-5 hover:text-[#8EB8E5] transition-all duration-300 ease-in-out"
        >
          +45 27 20 02 15
        </a>
      </div>
      <div class="flex items-center mb-5 md:ml-[575px]">
        <Image src={mail} alt="Mail" width={36} height={36} />
        <a
          href="mailto:nickjoergensen@icloud.com"
          class="raleway text-[20px] ml-5 hover:text-[#8EB8E5] transition-all duration-300 ease-in-out"
        >
          nickjoergensen@icloud.com
        </a>
      </div>
    </div>

    <div class="flex justify-center">
      <a
        href="mailto:nickjoergensen@icloud.com"
        class="relative inline-block px-5 py-3 text-lg font-medium text-white uppercase border-2 border-[#E7EB79] bg-transparent overflow-hidden transition-colors duration-400 group mt-5 mb-5 vibrate-1"
      >
        <span
          class="relative z-10 transition-colors duration-400 group-hover:text-black raleway"
          >Start samarbejdet</span
        >
        <span
          class="absolute inset-0 w-full h-full bg-[#E7EB79] transform translate-y-full transition-transform duration-400 ease-in-out group-hover:translate-y-0"
        ></span>
      </a>
    </div>

    <div class="flex gap-4 justify-center m-5 mb-20">
      <a href="https://www.instagram.com/nick_joergensen" target="_blank">
        <div
          class="bg-[url('src/assets/images/insta.svg')] hover:bg-[url('src/assets/images/instahover.svg')] bg-cover w-7 h-7 transition-all duration-300 ease-in-out"
        >
        </div>
      </a>

      <a href="https://github.com/nickmedia" target="_blank">
        <div
          class="bg-[url('src/assets/images/git.svg')] hover:bg-[url('src/assets/images/githover.svg')] bg-cover w-7 h-7 transition-all duration-300 ease-in-out"
        >
        </div>
      </a>
    </div>
  </section>

  <script>
    import { inView } from "motion";

    const fornavn = document.querySelector(".fornavn");
    inView(fornavn, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__lightSpeedInLeft",
        "fadeInOpacity"
      );
    });
    const mellemnavn = document.querySelector(".mellemnavn");
    inView(mellemnavn, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__bounceInRight",
        "fadeInOpacity"
      );
    });

    const efternavn = document.querySelector(".efternavn");
    inView(efternavn, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__lightSpeedInLeft",
        "fadeInOpacity"
      );
    });

    const designer = document.querySelector(".designer");
    inView(designer, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity"
      );
    });

    const citat = document.querySelector(".citat");
    inView(citat, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity"
      );
    });

    const ommig = document.querySelector(".ommig");
    inView(ommig, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const værktøjer = document.querySelector(".værktøjer");
    inView(værktøjer, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const cv = document.querySelector(".cv");
    inView(cv, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const cases = document.querySelector(".cases");
    inView(cases, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const skridt = document.querySelector(".skridt");
    inView(skridt, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__lightSpeedInRight",
        "fadeInOpacity"
      );
    });

    const kontakt = document.querySelector(".kontakt");
    inView(kontakt, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity"
      );
    });
  </script>
</MainLayout>
